In [1]:
print("hello world")

hello world

Create the Database and Table

First, let's start with creating the database and table:

In [16]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('ravi.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

Create (Insert Data)

To insert data into the table, you can use the INSERT INTO statement:

In [2]:
# import sqlite3

def insert_user(name, age):
    conn = sqlite3.connect('ravi.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))
    conn.commit()
    conn.close()

# Example usage
insert_user('Parvathy', 30)
insert_user('Praveen', 25)

Read (Query Data)

To read data from the table, you can use the SELECT statement:

In [14]:
# import sqlite3

def get_users():
    conn = sqlite3.connect('ravi.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()
    conn.close()
    return rows

# Example usage
users = get_users()
for user in users:
    print(user)

(1, 'Basith', 31)
(2, 'Praveen', 25)

Update (Modify Data)

To update existing data, you can use the UPDATE statement:

In [6]:
# import sqlite3

def update_user(user_id, name, age):
    conn = sqlite3.connect('ravi.db')
    cursor = conn.cursor()
    cursor.execute('UPDATE users SET name = ?, age = ? WHERE id = ?', (name, age, user_id))
    conn.commit()
    conn.close()

In [7]:
# Example usage
update_user(1, 'Basith', 31)

Delete (Remove Data)

To delete data from the table, you can use the DELETE statement:

In [2]:
import sqlite3

def delete_user(user_id):
    conn = sqlite3.connect('example1.db')
    cursor = conn.cursor()
    cursor.execute('DELETE FROM users WHERE id = ?', (user_id,))
    conn.commit()
    conn.close()

In [13]:
# Example usage
delete_user(2)

# Full code.

In [15]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example1.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

# Insert function
def insert_user(name, age):
    conn = sqlite3.connect('example1.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))
    conn.commit()
    conn.close()

# Read function
def get_users():
    conn = sqlite3.connect('example1.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()
    conn.close()
    return rows

# Update function
def update_user(user_id, name, age):
    conn = sqlite3.connect('example1.db')
    cursor = conn.cursor()
    cursor.execute('UPDATE users SET name = ?, age = ? WHERE id = ?', (name, age, user_id))
    conn.commit()
    conn.close()

# Delete function
def delete_user(user_id):
    conn = sqlite3.connect('example1.db')
    cursor = conn.cursor()
    cursor.execute('DELETE FROM users WHERE id = ?', (user_id,))
    conn.commit()
    conn.close()

# Example usage
insert_user('Govind', 40)
insert_user('SOlomon', 55)
update_user(1, 'Alice Smith', 31)
delete_user(3)

users = get_users()
for user in users:
    print(user)

(1, 'Alice Smith', 31)
(4, 'Bob', 25)
(5, 'Parvathy', 30)
(6, 'Praveen', 25)
(7, 'Govind', 40)
(8, 'SOlomon', 55)
(9, 'Govind', 40)
(10, 'SOlomon', 55)
(11, 'Govind', 40)
(12, 'SOlomon', 55)